doctype html
html(lang='en')
  head
    title View #{user}
  body
   div
    table
     thead
      tr: th Users
     tbody
      each users, i in user
        tr
          td 
           #{users} - #{pass}