doctype html
html(lang='en')
  head
    title Home
  body
    h1 Welcome.
    div#add
    p  Add new User
    form(method='POST', action='/users')
      input(type='text', name='user', placeholder='Username')
      input(type='password', name='pass', placeholder='')
      input(type='submit')
    div#delete
    p Delete User
    form(method='delete', action='/users')
    input(type='text', name='user', placeholder='Username')
    input(type='submit')
    div#update
    p Update User
    form(method='patch', action='/users')
    input(type='text', name='user', placeholder='Username')
    input(type='password', name='pass', placeholder='')
    input(type='submit')