doctype html
html
  head
    title Welcome
    script(src='C:/Users/Betos/user-resources-fanmsg/jQuery.js').
    script(type = "text/javascript").
      function updated(m){
      $.ajax({
      type: 'PUT',
      dataType: 'json',
      url: "/users/",
      headers: {"X-HTTP-Method-Override": "PUT"},
      data: '{user: m}'
      })
      .done (function(data) { $('#ajaxDiv').html(data);})
      .fail   (function()  { alert("Error"); })
      };
      function deleted(m){
      alert(m);
      }
  body      
    div
      span Create new User
      form(method='POST', action='users/' content-type = 'application/x-www-form-urlencoded')
        input(name='user', type='text', placeholder='Username')
        input(name='pass', type='pass')
        button(type='submit') Create
    span
      br
      br
    div#ajaxDiv
    table
      thead
        tr
          th View Users
      tbody
      each users , i in uzer
        tr
          td
            select#upDel.pulldown(name=''+users, onfocus="this.selectedIndex = -1;" onchange="this.value == 'Update' ? updated(this.name) : deleted(this.name)")
              option(value="Update") Update
              option(value = "Delete") Delete
            label#us #{users}
            label#pa - #{pass[i]}